In [1]:
# 1 .import the necessary libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 2. Import the dataset from the address given
df = pd.read_csv('iris.data')

In [3]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [4]:
# 3. Assign it to a varaible called Iris
Iris = df

In [5]:
# 4. Create Columns for the data set
Iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width','class']
Iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [6]:
# 5. Is there any missing value in the dataframe?
Iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [7]:
# 6. Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN
Iris['petal_length'][9:29] = np.nan

In [8]:
Iris.isnull().sum()

sepal_length     0
sepal_width      0
petal_length    20
petal_width      0
class            0
dtype: int64

In [9]:
# 7. substitute the NaN values to 1.0
Iris['petal_length'].replace(np.nan, 1.0, inplace= True)

In [10]:
Iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [11]:
# 8. delete the column class
del Iris['class']

In [12]:
Iris

     sepal_length  sepal_width  petal_length  petal_width
0             4.9          3.0           1.4          0.2
1             4.7          3.2           1.3          0.2
2             4.6          3.1           1.5          0.2
3             5.0          3.6           1.4          0.2
4             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

In [13]:
# 9. Set the first 3 rows as NaN
Iris[0:3]= np.nan

In [14]:
Iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          NaN           NaN          NaN
1           NaN          NaN           NaN          NaN
2           NaN          NaN           NaN          NaN
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

In [15]:
# 10. Delete the rows that have NaN
Iris1 = Iris.dropna()

In [16]:
Iris1.head()

   sepal_length  sepal_width  petal_length  petal_width
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4
5           4.6          3.4           1.4          0.3
6           5.0          3.4           1.5          0.2
7           4.4          2.9           1.4          0.2

In [17]:
# 11. Reset the index so it begins with 0 again
Iris2 = Iris1.reset_index()

In [18]:
Iris2.head()

   index  sepal_length  sepal_width  petal_length  petal_width
0      3           5.0          3.6           1.4          0.2
1      4           5.4          3.9           1.7          0.4
2      5           4.6          3.4           1.4          0.3
3      6           5.0          3.4           1.5          0.2
4      7           4.4          2.9           1.4          0.2

In [19]:
del Iris2['index']

In [20]:
Iris2.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.0          3.6           1.4          0.2
1           5.4          3.9           1.7          0.4
2           4.6          3.4           1.4          0.3
3           5.0          3.4           1.5          0.2
4           4.4          2.9           1.4          0.2

In [21]:
# 12. Create your own question and answer it
# Drop the column petal_width
del Iris2['petal_width']

In [22]:
Iris2.head()

   sepal_length  sepal_width  petal_length
0           5.0          3.6           1.4
1           5.4          3.9           1.7
2           4.6          3.4           1.4
3           5.0          3.4           1.5
4           4.4          2.9           1.4